{{#modal-dialog action="closeModal"}}
  {{#if isNotEditingSelf}}
    <div class="row">
      <div class="large-12 columns">
        <h4>Editing: {{name}}</h4>
      </div>
    </div>
  {{/if}}

  <form>
    {{#if isDivisionEditable}}
      <div class="row">
        <div class="large-12 columns">
          <label>Division:
            {{view Ember.Select
              contentBinding='divisions'
              selectionBinding='selectedDivision'
              prompt='Select division'
              optionValuePath='content.id'
              optionLabelPath='content.name'
            }}
          </label>
        </div>
      </div>
    {{/if}}

    <div class="row">
      <div class="small-4 large-4 columns">
        <button {{bind-attr class=':medium :expand isIn:active'}} {{action 'setStatus' 1}}>In</button>
      </div>

      <div class="small-4 large-4 columns">
        <button {{bind-attr class=':medium :expand isUnavailable:active'}} {{action 'setStatus' 2}}>Unavailable</button>
      </div>

      <div class="small-4 large-4 columns">
        <button {{bind-attr class=':medium :expand isOut:active'}} {{action 'setStatus' 0}}>Out</button>
      </div>
    </div>

    <div class="row">
      <div class="small-6 large-6 columns">
        <label>Location
          {{input value=location type='text' placeholder='Conference' disabled=disabledLocationInput action=''}}
        </label>
      </div>

      <div class="small-6 large-6 columns">
        <label>Back
          <div class="row collapse">
            <div class="small-10 columns">
              {{date-input name='back' date=back readonly=true}}
            </div>

            <div class="small-2 columns">
              <span class="postfix" {{action 'openPicker'}}>
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </label>
      </div>
    </div>
  </form>
{{/modal-dialog}}
