<div class="row meta">
  {{#if isEditedByViewable}}
    <div class="edited-by">
      {{timeago updated_at}} by:
      <span>{{last_edited_by.name}}</span>
    </div>
  {{/if}}

  <div class="small-3 medium-2 large-2 columns">
    <div class="avatar">
      <img {{bind-attr src=avatar}} {{bind-attr alt=name}} />
    </div>
  </div>

  <div class="medium-6 large-6 columns hide-for-small-only">
    <h4 class="name">{{name}}</h4>
  </div>

  <div class="large-4 medium-4 columns hide-for-small-only">
    <div class="back">
      {{timeago back}}
    </div>
  </div>

  <div class="small-9 columns show-for-small-only clearfix">
    <h4 class="name">
      {{name}}
    </h4>

    <h6 class="location">
      {{location}}
    </h6>

    <div class="back">
      {{timeago back}}
    </div>
  </div>
</div>

<div class="row hide-for-small-only">
  <div class="small-12 columns">
    <div class="divider"></div>
  </div>
</div>

<div class="row details hide-for-small-only">
  <div class="small-12 columns">
    <h6 class="location">{{location}}</h6>
  </div>
</div>
