{{outlet modal}}

<header role="complementary">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">TxSSC eStatus</a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="hide-for-small-only">
          <a {{action 'openModal' 'userEdit' currentUser}}>
            <i class="fa fa-paper-plane"></i> Set my status
          </a>
        </li>
        <li class="divider hide-for-small-only"></li>
        <li class="has-dropdown not-click">
          <a href="#">{{currentUser.name}}</a>

          <ul class="dropdown">
            <li class="show-for-small-only">
              <a {{action 'openModal' 'userEdit' currentUser}}>
                <i class="fa fa-paper-plane"></i> Set my status
              </a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</header>

<main role="main">
  {{render 'division/tabs' this}}
  {{outlet}}
</div>
